@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default accent color - white */
    --accent-color: #ffffff;
    --grid-color: rgba(156, 163, 175, 0.2);
    --bg-color: #ffffff;
  }

  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
  .dark {
    --grid-color: rgba(75, 85, 99, 0.4);
    --bg-color: #000000;
  }
}
